<section class="logo-area">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="logo">
                  <a href=""><img src="assets/images/logo.png" alt="" class="img-fluid"></a>
              </div>
          </div>
          <div class="col-md-6">
              <div class="searchbar text-right">
                  <form action="#">
                      <input placeholder="Tìm kiếm..." type="text" required="">
                      <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
