<section class="slider-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 padding-fix-r">
                <div class="big-box">
                    <img src="{{NewsFirst.imageAvatar}}" alt="" class="fit-img">
                    <div class="big-box-layer">
                        <p><a [routerLink]="['/news/' + NewsFirst.pageID]">{{NewsFirst.title}}</a>
                        </p>
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">{{NewsFirst.category.categoryName}}</li>
                            <li class="list-inline-item">{{NewsFirst.date|date:'longDate'}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 slider-fix">
                <div *ngFor="let news of listNews | slice:1:3 ; let first = first" [ngClass]="{'mini-box-up': first}" class="mini-box ">
                    <img src="{{news.imageAvatar}}" alt="" class="fit-img">
                    <div class="mini-box-layer">
                        <p><a [routerLink]="['/news/' + news.pageID]" >{{news.title}}</a></p>
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">{{news.category.categoryName}}</li>
                            <li class="list-inline-item">{{news.date |date:'longDate'}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
