<div class="container">
  <div class="row">
    <div class="col-8">
      <div *ngFor="let news of listnews" class="newspaper d-flex">
        <div class="avatar-img">
          <a routerLink="/news/{{news.pageID}}" >
            <img src="{{news.imageAvatar}}" class="img-fit">
          </a>
        </div>
        <div class="tiny-content">
          <p class="title"> <a routerLink="/news/{{news.pageID}}" >{{news.title}}</a></p>
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">{{news.category.categoryName}}</li>
            <li class="list-inline-item">{{news.date | date:'MM-dd-yyyy, hh:mm'}}</li>
          </ul>
          <div class="tiny">
            <p>{{news.tinyContent}}</p>
          </div>
        </div>
      </div>
      <ul class="paging list-unstyled list-inline">
        <li *ngFor="let numPage of listPages" class="list-inline-item" routerLink="/category/{{CAT_ID}}/{{numPage}}">{{numPage}}</li>
      </ul>
    </div>
    <div class="col-4">

    </div>
  </div>
</div>
