<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="newspaper d-flex">
        <div class="avatar-img">
          <a href="">
            <img class="img-fit" src="">
          </a>
        </div>
        <div class="tiny-content">
          <h6 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident animi magni voluptas fugit Itaque labore quae ad Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident animi magni voluptas fugit Itaque labore q</h6>
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">Life Style</li>
            <li class="list-inline-item">February 11, 2019</li>
          </ul>
          <div class="tiny">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident animi magni voluptas fugit Itaque labore quae ad Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident animi magni voluptas fugit Itaque labore quae ad........</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
