<div class="container">
  <div class="row">
    <div class="col-8">
      <div *ngFor="let news of listnews" class="newspaper d-flex">
        <div class="avatar-img">
          <a [routerLink]="['/routePath']" >
            <img src="{{news.imageAvatar}}" class="img-fit" src="">
          </a>
        </div>
        <div class="tiny-content">
          <h6 class="title">{{news.title}}</h6>
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">{{news.category.categoryName}}</li>
            <li class="list-inline-item">{{news.date}}</li>
          </ul>
          <div class="tiny">
            <p>{{news.tinyContent}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
