<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Newspaper</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <a *ngIf="!IsAuthentication()" [routerLink]="['/login']">
          <button class="btn btn-outline-success my-2 my-sm-0 mr-1">Đăng nhập</button>
        </a>
        <a *ngIf="!IsAuthentication()" [routerLink]="['/register']">
          <button class="btn btn-outline-success my-2 my-sm-0">Đăng ký</button>
        </a>
        <a *ngIf="IsAuthentication()" (click)="LogOut()">
          <button class="btn btn-outline-success my-2 my-sm-0">Đăng xuất</button>
        </a>
      </div>
    </div>
  </nav>
</header>
