USE [QLTT_v3]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/20/2020 3:06:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[ParentCatIDCategoryID] [int] NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[ParentCategoryID] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Newspaper]    Script Date: 11/20/2020 3:06:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Newspaper](
	[PageID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[TinyContent] [nvarchar](1000) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[View] [float] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[ImageAvatar] [nvarchar](max) NOT NULL,
	[UserID] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Newspaper] PRIMARY KEY CLUSTERED 
(
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/20/2020 3:06:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/20/2020 3:06:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[DOB] [datetime2](7) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[PasswordSalt] [nvarchar](max) NOT NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[RefreshTokenExpiryTime] [datetime2](7) NOT NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [ParentCatIDCategoryID], [CategoryName], [ParentCategoryID]) VALUES (1, NULL, N'Xã hội', NULL)
INSERT [dbo].[Category] ([CategoryID], [ParentCatIDCategoryID], [CategoryName], [ParentCategoryID]) VALUES (2, NULL, N'Văn hóa', NULL)
INSERT [dbo].[Category] ([CategoryID], [ParentCatIDCategoryID], [CategoryName], [ParentCategoryID]) VALUES (3, NULL, N'Kinh tế', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Newspaper] ON 

SET IDENTITY_INSERT [dbo].[Newspaper] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Subscriber')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Name], [Email], [DOB], [PasswordHash], [PasswordSalt], [RefreshToken], [RefreshTokenExpiryTime], [RoleID]) VALUES (2, N'Duong', N'admin@gmail.com', CAST(N'2020-11-17T00:00:00.0000000' AS DateTime2), N'GaE/IJnrr44GlF0PdF8ZM5sFeL7EzpLQGe5ajmt1PNM=', N'A6QKXp8QDXEBdvfEC8UbBQ==', N'9MwCrDqo1cbHDsqeOufyCTyMyMOl1R1ruOahSxWuAqE=', CAST(N'2020-11-27T10:50:48.6452150' AS DateTime2), 2)
INSERT [dbo].[User] ([UserID], [Name], [Email], [DOB], [PasswordHash], [PasswordSalt], [RefreshToken], [RefreshTokenExpiryTime], [RoleID]) VALUES (1002, N'Duong Sub', N'sub@gmail.com', CAST(N'2020-11-18T00:00:00.0000000' AS DateTime2), N'rwgZKAMf02GgzOQg1ApMsaLeOTnBnh9k4PxZJQ212eY=', N'/r+19/tWt6n8l0oxwGIEGg==', N'eR0lqyxpKaeT4/uNU6cABzlOsTisl8C+cG3MYM2dzg8=', CAST(N'2020-11-27T10:50:10.1239656' AS DateTime2), 1)
INSERT [dbo].[User] ([UserID], [Name], [Email], [DOB], [PasswordHash], [PasswordSalt], [RefreshToken], [RefreshTokenExpiryTime], [RoleID]) VALUES (1003, N'Duong', N'ntduong@gmail.com', CAST(N'2020-11-18T00:00:00.0000000' AS DateTime2), N'bLPbyFqWVCZZDr6YJ4T4F4PUAOKkV4hBKivxAfQUx44=', N'9lmAxKH9xNCTR0zh4fZ6Pg==', NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Category_ParentCatIDCategoryID] FOREIGN KEY([ParentCatIDCategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Category_ParentCatIDCategoryID]
GO
ALTER TABLE [dbo].[Newspaper]  WITH CHECK ADD  CONSTRAINT [FK_Newspaper_Category_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Newspaper] CHECK CONSTRAINT [FK_Newspaper_Category_CategoryID]
GO
ALTER TABLE [dbo].[Newspaper]  WITH CHECK ADD  CONSTRAINT [FK_Newspaper_User_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Newspaper] CHECK CONSTRAINT [FK_Newspaper_User_UserID]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role_RoleID]
GO
