<section class="menu-area">
  <div class="container">
      <div class="row">
          <div class="col-md">
              <div class="main-menu">
                  <ul class="list-unstyled list-inline">
                      <li class="list-inline-item"><a [routerLink]="['/home']">TRANG CHỦ</a></li>
                      <li class="list-inline-item"><a>DANH MỤC <i class="fa fa-angle-down"></i></a>
                          <ul class="dropdown list-unstyled">
                              <li *ngFor="let cate of newCate"><a [routerLink]="['/category/' + cate.categoryID] +'/1'">{{cate.categoryName}} <i class="fa fa-angle-right"></i></a>
                                  <ul class="dropdown-sub list-unstyled">
                                      <li *ngFor="let cateChild of cate.Child"><a [routerLink]="['/category/' + cateChild.categoryID +'/1']" >{{cateChild.categoryName}}</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
